.turn-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e8b57;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 5, 0, 0, 1);
    -fx-padding: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 10px;
}


